// @import '~node_modules/modern-normalize/modern-normalize.css';

.search-form {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: cornflowerblue;
    margin-bottom: 20px;
}

input {
    width: 250px;
    padding: 7px;
    background-color: azure;

}

button{
    background-color: azure;
}

.submit{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.gallery {
    margin-bottom: 30px;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.photo-card {
    width: calc((100% - 80px) / 4);
    text-decoration: none;
    min-width: 360px;

}

.card-image {
    margin: 0;
    display: block;

    width: 100%;
    height: 180px;
    object-fit: cover;
}

.info {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.info-item {
    margin: 0;

    display: flex;
    flex-direction: column;
    color: #000;
}

.load-more {
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    cursor: pointer;
    
}

.is-hidden {
    visibility: hidden;
}